<div class="u-centered-600">
  <h1><%= gettext "Reset your password" %></h1>

  <p><%= gettext "Forgot your password? Enter your email address below and we'll send you a link to set a new password." %></p>

  <%= form_for :user, Routes.auth_path(@conn, :request_password_reset_submit), [method: :post], fn f -> %>
    <div class="form-group">
      <%= label f, :email, gettext("Email") %>
      <%= email_input f, :email, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= submit gettext("Send me a link"), class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "_links.html", conn: @conn %>
</div>
