<div class="u-centered-600">
  <h1><%= gettext "Reset your password" %></h1>

  <%= form_for @changeset, Routes.auth_path(@conn, :reset_password_submit), [method: :post], fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger"><%= gettext "There was an error. Please see messages below." %></div>
    <% end %>

    <div class="form-group">
      <%= label f, :password do %>
        <%= gettext("New password") %>
        <%= required() %>
      <% end %>
      <%= password_input f, :password, class: "form-control", required: true %>
      <%= error_tag f, :password %>
    </div>
    <div class="form-group">
      <%= label f, :password_confirmation do %>
        <%= gettext("Confirm your new password") %>
        <%= required() %>
      <% end %>
      <%= password_input f, :password_confirmation, class: "form-control", required: true %>
      <%= error_tag f, :password_confirmation %>
    </div>
    <div class="form-group">
      <input type="hidden" name="token" value="<%= @token %>" />
      <%= submit gettext("Update my password"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
