# The dev secrets stored in `secrets.exs` are auto-loaded by `config.exs`.
# DO NOT check this file into Git.

use Mix.Config

defmodule PutEnv do
  def put_env_if_nil(key, value) do
    if System.get_env("#{key}") do
      IO.puts("Mix secret #{key} is already set. Skipping.")
    else
      System.put_env("#{key}", "#{value}")
    end
  end
end

dev_secrets = %{
  HOST_NAME: "localhost:4000",
  DATABASE_URL: "postgres://topher:@localhost/my_app_#{Mix.env()}",
  SECRET_KEY_BASE: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
}

Enum.each(dev_secrets, fn {key, value} -> PutEnv.put_env_if_nil(key, value) end)

#
# Each deployed environment will need the following env vars set:
#
# - HOST_NAME
# - DATABASE_URL (Heroku PG add-on automatically sets this)
# - SECRET_KEY_BASE (generate this using `mix phx.gen.secret`)
# - ROLLBAR_ACCESS_TOKEN (Heroku Rollbar add-on automatically sets this)
#
