<h1>Worldview Journeys: <%= gettext "Use this link to reset your password" %></h1>

<p><%= gettext "Please click the link below to set a new password for your account at wvtest.com." %></p>

<p><%= link @url, to: @url %></p>

<p><strong><%= gettext "If you did not request a password reset on wvtest.com, please ignore this email." %></strong> <%= gettext "Maybe someone else entered your address by mistake." %></p>
