# Auto-loaded by `config.exs`.
# DO NOT check this file into Git.

use Mix.Config

#
# Dev settings
#

database_url = "postgres://admin_user:admin_password@localhost/my_app_#{Mix.env()}"
secret_key_base = "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"

System.put_env("HOST_NAME", "localhost:4000")
System.put_env("DATABASE_URL", database_url)
System.put_env("SECRET_KEY_BASE", secret_key_base)

#
# Each production environment will need the following env vars set:
#
# - HOST_NAME
# - DATABASE_URL (Heroku PG add-on automatically sets this)
# - SECRET_KEY_BASE (generate this using `mix phx.gen.secret`)
# - ROLLBAR_ACCESS_TOKEN (Heroku Rollbar add-on automatically sets this)
#
